*{
    margin:0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Montserrat, "sans-serif";
}

.header-content{
    text-align: center;
    margin-top: 70px;
    /* margin:0 auto; errado pois é texto*/
}

.nome{    
    color: #128a5c;
    
}

.ola{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 2em;  
}

.principal{
    text-align: center;
    
}

.principal-content{
    display: inline-block;    
    margin: 50px 20px 50px 0px; 
}

.foto{
    border-radius: 50%;
}

.principal-text{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 50px 0 50px 20px;
    width: 30%;
}

.principal-text p {
    margin-bottom: 20px;
}

.principal-text h2 {
    text-align: left;
    margin-bottom: 20px;
}

/* .principal-text p {
    vertical-align: top;
} */

#sobre{
    background-color: #DEDBD2;
    padding: 20px ;
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

a{
    text-decoration: none;
    background-color: #A6B4B5;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 200px;
}

.paragrafo{
    font-weight: 800;
    font-style: italic;
}

.nacionalidade{
    font-size: 20px;
    font-weight: bold;

}

ul{
    font-weight: 700;
}